body {
    display: flex;
    align-items: center;
}

div#Sketchboard{
    height: 900px;
    width: 900px;
    display: flex;
    flex-direction: row;

    flex-basis: auto;
    flex-grow:1;
    flex-shrink:1;

    border-width: 1px;
    
    
    flex-wrap: wrap;

}

button#submit-button {
    width: 25px;
    margin-right: 25px;
}