body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#Sketchboard{
    height: 900px;
    width: 900px;
    display: flex;
    flex-direction: row;

    flex-basis: auto;
    flex-grow:1;
    flex-shrink:1;

    border-width: 1px;
    border-color: black;
    
    
    flex-wrap: wrap;

}

button#submit-button {
    width: 25px;
    margin-right: 25px;
}

input#size-button{
    color:darkgrey;
    background-color:dodgerblue;
}
